.f-p {
    font-family: 'Kodchasan', sans-serif;
}
  
.f-s {
    font-family: 'Sofia Sans', sans-serif;
}
  
body{
    background-image: linear-gradient(to bottom,rgb(18, 1, 33), rgba(18, 1, 33, 0.7), rgba(116, 0, 0, 0.7)), url(sfondo\ progetto.jpg);
    height: 3750px;
     
}
.sign-in{
    background-color:rgb(237,50,55);
}
/* .navbar{
    background-color:rgb(18,2,33);
} */
.nav-item{
        border-bottom-right-radius: 60%;
        border-top-left-radius: 60%;
  }
.nav-item:hover{
    background-color:rgb(237,50,55);
    transition-duration: 1s;

} 

.navbar-toggler-icon {
    background-image: url(icons8-menu-arrotondato-30.png);
    
}

.btn-search{
    border-right: none !important;
    
    

}
.form-control{
    border-left: none !important;
    
    
}

.btn-danger{
    background-color:rgb(237,50,55);
    
}
.btn-text{
    color: rgb(18, 1, 33)
}
.capitan-american{
    width: 529px;
    
}

.btn-comics{
    border-style: hidden;
    border-bottom-right-radius: 60%;
    border-top-left-radius: 60%;
    background-color:rgb(237,50,55);    
}
.btn-film{
    border-style: hidden;
    background-color: transparent;
}

/* CAROUSEL */

:root {
    --red: #ef233c;
    --darkred: #c00424;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
}

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */


.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 1em;
}

.cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: rgba(232, 232, 232, 0.1);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 300px;
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2));
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}
.img-marvel{
    top:-50px;
    left: 0px;
    height: 273.77px;
}

.card:not(:last-child) {
    margin-right: 10px;
}

.card .card-content {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)) !important;
    margin: 20px 0;
    max-width: 85%;
}


.card .card-link {
    color:white;
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 8px;
    transition: 0.2s;
}

.card-link:hover {
    color: rgb(237,50,55);
  }


.cards::-webkit-scrollbar {
    height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }

    .card:not(:last-child) {
        margin-right: 20px;
    }
}

@media (min-width: 700px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }

    .card:not(:last-child) {
        margin-right: 30px;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: calc(25% - 30px);
    }

    .card:not(:last-child) {
        margin-right: 40px;
    }
}

.iron-hand{
    height: 586px;
}
/* .card-bd-comics{
    width: 250px;
} */